<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poly.duanmau">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quan Ly Sach"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChiTietNguoiDung"
            android:parentActivityName=".ListNguoiDungActivity"></activity>
        <activity android:name=".ListSachActivity" />
        <activity android:name=".ListTheLoaiActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ListNguoiDungActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HDCTActivity" />
        <activity android:name=".ThemHDCTActivity" />
        <activity android:name=".Them_Hoa_Don_Activity" />
        <activity android:name=".ChangePassActivity"
            android:parentActivityName=".ListNguoiDungActivity"/>
        <activity android:name=".HoaDonActivity" />
        <activity android:name=".ManhinhchaoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThongKeActivity" />
        <activity android:name=".TopBookActivity" />
        <activity android:name=".SachActivity" />
        <activity android:name=".TheLoaiActivity"
            android:parentActivityName=".ListTheLoaiActivity"/>
        <activity
            android:name=".NguoiDungActivity"
            android:parentActivityName=".ListNguoiDungActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>